In [2]:
%load_ext autoreload
%autoreload 2

from datetime import datetime
from pprint import pprint
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import activity_classifier as ac
from activity_classifier import ChunkableTimeSeries, CAP24_DIR


FP_METADATA = f'{CAP24_DIR}/metadata.csv'
FP_ANNOT_DICT = f'{CAP24_DIR}/annotation-label-dictionary.csv'
FPS_GZ_DATA = sorted([f'{CAP24_DIR}/{f}' for f in os.listdir(CAP24_DIR) if f.endswith(".csv.gz")])

In [3]:
plt.style.use('ggplot')

In [4]:
dfm = pd.read_csv(FP_METADATA)
dfa = pd.read_csv(FP_ANNOT_DICT)
#df = pd.read_csv(FPS_GZ_DATA[0], compression='gzip')
df = ac.load_acc_data_file(
    FPS_GZ_DATA[0], 
    convert_datetime=True,
    add_timestamp_col=True
)

/Users/bryanfry/code/activity-classifier/activity_classifier/__init__.py:12: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fp, compression=compression)

In [5]:
df.head()

,time,x,y,z,annotation,timestamp
0,2016-11-13 02:18:00.000,-0.46669,-0.533341,0.658472,7030 sleeping;MET 0.95,0.00
1,2016-11-13 02:18:00.010,-0.46669,-0.533341,0.658472,7030 sleeping;MET 0.95,0.01
2,2016-11-13 02:18:00.020,-0.46669,-0.533341,0.658472,7030 sleeping;MET 0.95,0.02
3,2016-11-13 02:18:00.030,-0.46669,-0.533341,0.658472,7030 sleeping;MET 0.95,0.03
4,2016-11-13 02:18:00.040,-0.46669,-0.533341,0.658472,7030 sleeping;MET 0.95,0.04

In [5]:
df2 = pd.concat([
    df.iloc[0:200],
    df.iloc[1000:1200],
    df.iloc[2000:2200],
    df.iloc[3000:3200],
    df.iloc[4000:4200],
    df.iloc[5000:5200],
    df.iloc[6000:6500],
], ignore_index=True)

In [6]:
'''
# Get unique values for each column in the annotation dictionary
for col in dfa.columns:
    if col.startswith('label'):
        print('\n', col, '\n--------')
    print(sorted(dfa[col].unique()))
''';

# For first file at least, there sample interval is uniformly 10 ms. No missing values.

In [ ]:
c = ac.df_to_chunkable_ts(df2)
chunks_t = c.get_chunks_by_time(5)
chunks_n = c.get_chunks_by_samples(500)
print(len(chunks_n))
print(len(chunks_t))e

3

6

In [14]:
#chunks_n[2].plot(linewidth=0, marker='o', markersize=1)
#chunks_t[5].plot(linewidth=0, marker='o', markersize=1)